:root{
    --cor-fundo: tomato;
}

* {
    margin: 0; box-sizing: border-box; padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cor-fundo);
}

#cor{
    padding: 8px 16px;
    font-size: 24px;
    outline: none;
}

#trocar-cor{
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
}